<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>ASEDelivery new order created</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <style>
    body {
      font-family: 'Helvetica', sans-serif;
    }
  </style>
</head>

<body>
  <p>Hello <span th:text="${name}"></span>,</p>

  <p>A new order has been created:</p>

  <ul>
    <li>Delivery ID: <span th:text="${deliveryId}"></span></li>
    <li>Pickup address: <span th:text="${pickupAddress}"></span></li>
    <li>To be delivered at: <span th:text="${boxAddress}"></span></li>
  </ul>

  <p>You can check the state of your delivery at <a th:text="${deliveryURL}"></a></p>

  <p>
    Kind regards, <br />
    <em>The ASEDelivery-T15 team</em>
  </p>
</body>

</html>