.boxList {
  display: flex;
  flex: 5;
  flex-direction: row;
}

.boxList * {
  font-family: 'Josefin Sans', sans-serif;
}

.boxListTable {
  display: flex;
  flex: 10 !important;
}

.boxListEdit {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.boxListEditBtn {
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 20px;
}

.boxListDelete {
  color: red;
  cursor: pointer;
}

.boxListNewButton {
  flex: 1;
  align-items: center;
  justify-content: center;

}

.boxListNewButtonSpan {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
}