<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>ASEDelivery registration</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <style>
    body {
      font-family: 'Helvetica', sans-serif;
    }
  </style>
</head>

<body>
  <p>Hello <span th:text="${name}"></span>,</p>

  <p>You have been registered to our platform. Your sign-in information is:</p>

  <ul>
    <li>Email address: <span th:text="${email}"></span></li>
    <li>Username: <span th:text="${username}"></span></li>
    <li>Username: <span th:text="${password}"></span></li>
  </ul>

  <p>Please save the password</p>

  <p>You can sign in at <a th:text="${loginURL}"></a></p>

  <p>
    Kind regards, <br />
    <em>The ASEDelivery-T15 team</em>
  </p>
</body>

</html>